body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #ffffff 0%, #ffe6eb 100%);
    color: black;
    margin: 0;
    padding: 0;
}

.navbar-custom {
    background-color: #ec0000;
    padding-top: 6px;
    padding-bottom: 6px;
    min-height: 56px;
}

.navbar-custom .nav-link, 
.navbar-custom .navbar-brand, 
.navbar-custom .dropdown-toggle {
    color: white;
    font-weight: bold;
}

.navbar-custom .btn {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid white;
    background-color: white;
    color: #ec0000;
}

.navbar-custom .btn:hover {
    background-color: #ec0000;
    color: white;
}

.dropdown-menu .dropdown-item {
    font-weight: 600;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f2f2f2;
    color: #ec0000;
}

.big-btn {
    padding: 25px 30px;
    border: 2px solid #ec0000;
    background-color: white;
    text-decoration: none;
    color: #ec0000;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.big-btn:hover {
    background-color: #ec0000;
    color: white;
}

.main-content {
    text-align: center;
    padding: 60px 20px;
}

.main-content h2 {
    font-size: 36px;
    color: #ec0000;
    margin-bottom: 30px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}
